:host {
  /*
   * The 'all: initial' property is a powerful reset that reverts all
   * CSS properties to their initial values. This is the strongest
   * and simplest way to create a style boundary.
   */
  all: initial !important;

  font-size: 16px;
  color: white;
}

#entity-bubbles-container {
  display: flex;
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10000;
  max-width: 300px;
  max-height: 1000px;
}

.mantine-Popover-dropdown {
  border: 1px solid black
}

@keyframes slideDown {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}