/* Define the animation keyframes */
@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Define the button's style */
.circularButton {
  /* Sizing and Shape */
  width: 56px;
  height: 56px;
  border-radius: 50%;

  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* Reset and Interaction */
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  
  /* Gradient and Animation */
  color: white;
  fill: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: animatedGradient 15s ease infinite;

  /* Transitions for a smooth hover effect */
  transition: all 0.4s ease-in-out;
}

/* Hover State */
.circularButton:hover {
  background: linear-gradient(45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);
  background-size: 400% 400%;
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

/* Style for the icon/image inside */
.circularButton > img {
  width: 28px;
  height: 28px;
}